{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/login-signup.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav-container">
      <div class="content-container">
        <div class="nav-content-container">
          <div class="nav-company-name">OBLIVION</div>
        </div>
      </div>
    </nav>

    <h2>uririri</h2>
    <div class="signup-login-container" id="signup-login-container">
      <div class="form-container sign-up-container">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <h1>Create Account</h1>
          <span>or use your user for registration</span>
          <input type="text" placeholder="Username" name="username" required/>
          <input type="password" placeholder="Password" name="password" required/>
          <button type="submit" name="signup">Sign Up</button>
        </form>
      </div>

      <div class="form-container sign-in-container">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <h1>Sign in</h1>
          <span>or use your account</span>
          <input type="text" placeholder="Username" name="username" required/>
          <input type="password" placeholder="Password" name="password" required/>
          <a href="#">Forgot your password?</a>
          <button type="submit" name="login">Sign In</button>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container">
      <div class="footer-cards-img-container">
        <img src="{% static 'src/imgs/cards_accepted.png' %}" alt="Images of cards accepted" />
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="#">2024 CARBON COPY</a></li>
          <li><a href="#">Refund policy</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Shopping policy</a></li>
          <li><a href="#">Contact information</a></li>
        </ul>
      </div>
    </footer>
    <script src="{% static 'js/login-signin.js' %}"></script>
  </body>
</html>
